
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

header {
    padding: 25px 10px;
    
    background-color: rgb(28, 179, 199);
}

.logo {
    margin: 0%;
    padding-left: 60px;
    width: 8%;
    float: left;
}

ul {
    list-style: none;
}

.menu_a ,li, a {
    
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    color: whitesmoke;
    
}

.menu_a li a:hover {
    color: blue;

}

.menu_b {
    float: right;
}

.menu_b  {
    display: inline-block;
    padding: 0px 3px;
    text-decoration: none;
}

.menu_b li :hover {
    color: blue;
}

.btn_a button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
}


.btn_b button{
    background-color: rgb(28, 179, 199);
    padding: 9px 25px;
    border-color: white;
    border-radius: 4px;
    color: whitesmoke;
}

#title {
    background-color: rgb(28, 179, 199);
    color: white;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 5%;
    padding-top: 60px;
    
}

.titre {
    font-size: 40px;
}

.paragraph {
    color: black;
}

#form {
    float: left;
    width: 40%;
}

#form {
    
    padding-left: 60px;
}

.reach {
    color: rgb(28, 179, 199);
    margin-bottom: 3%;
}

.suggestion {
    margin-bottom: 5%;
}

input, select {
    width: 100%;
    padding: 12px 10px;
    margin:  15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .message {
        padding-bottom: 100px;
        width: 100%;
  }

  #team {
    float: right;
    width: 50%;
}

.team_help {
    color: rgb(28, 179, 199);
    margin-bottom: 3%;
}

.help {
    margin-bottom: 7%;
}


#social {
    
    float: right;
    width: 50%;
    font-size: 80%;
    
}

.connect {
    margin-bottom: 3%;
}

.fa {
    float: left;
    width: 40px;
    
}

.twi {
   
    width: 120px;
}
    





 



 




               