
* {
    
    margin: 0%;
    padding: 0%;
    
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    
}

header {
    position: fixed;
    width: 100%;
    padding: 25px 10px;
    
    background-color: rgb(28, 179, 199);
}

.logo {
    margin: 0%;
    padding-left: 60px;
    width: 8%;
    float: left;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul li {
    display: inline;
    padding: 5px 50px;
    color: white;
}

nav ul {
    float: left;
    margin:0;
    margin-top: 20px;
    color: white;
}

.menu_a {
    color: white;
}

.menu_b{
    float: right;
}

.menu_b  {
    display: inline-block;
    padding: 0px 3px;
    text-decoration: none;
}

.menu_b li :hover {
    cursor: pointer;
    color: blue;
}

.btn_a button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
}


.btn_b button{
    background-color: rgb(28, 179, 199);
    padding: 9px 25px;
    border-color: white;
    border-radius: 4px;
    color: whitesmoke;
}

#title {
    background-color: rgb(28, 179, 199);
    color: white;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 5%;
    padding-top: 160px;
    
}

.titre {
    font-size: 40px;
}

.paragraph {
    color: black;
}

#form {
    float: left;
    width: 40%;
}

#form {
    
    padding-left: 60px;
}

textarea{
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 10px;
    box-sizing: border-box;

}

.reach {
    color: rgb(28, 179, 199);
    margin-bottom: 3%;
}

.suggestion {
    margin-bottom: 5%;
}

input, select {
    width: 100%;
    padding: 12px 10px;
    margin:  15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .message {
        padding-bottom: 100px;
        width: 100%;
  }

  #team {
    float: right;
    width: 50%;
}

.team_help {
    color: rgb(28, 179, 199);
    margin-bottom: 3%;
}

.help a {
    margin-bottom: 15%;
    color: darkgray;
}

.help {
    margin-bottom: 8%;
}


#social {
    
    float: right;
    width: 50%;
    font-size: 80%;
    
}

.connect {
    margin-bottom: 5%;
}

.fa-facebook {
    float: left;
    font-size: 50px;
    padding-bottom: 10px;
    color: darkgray;
    
}

.fa-twitter-square {
    clear: both;
    float: left;
    padding-bottom: 10px;
    font-size: 50px;
    color: darkgray;
}

.fa-linkedin {
    clear: both;
    float: left;
    padding-bottom: 20px;
    font-size: 50px;
    color: darkgray;
}

.ps{
    margin-right: 96px;
    margin-top: 31px;
}

#submit_button{
    float: right;
    background-color: rgb(28, 179, 199);
    margin-top: 60px;
    font-size: 80%;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-bottom: 50px;
}
#submit_button:hover{
    cursor: pointer;
    background-color: #000dc2;
}

.ps a{
    color: rgb(28, 179, 199);
    padding: 0%;
    margin: 0%;
}

footer {
    background-color: rgb(28, 179, 199);
    overflow: auto;
    color: white;
    font-weight: 300;
    box-sizing: border-box;
    
}

footer h3 {
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin-bottom: 8px;
    box-sizing: border-box;

}

.footer-div {
    float: left;
    box-sizing: border-box;

}

.clear-float {
    clear: both;
    box-sizing: border-box;

}


.footer-about, .footer-help, .footer-resoures, .footer-landing, .footer-commercial {
    padding: 22px;
    margin-left: 16px;
    box-sizing: border-box;

}
.footer-about {
    margin-left: 52px;
    box-sizing: border-box;

}
footer ul {
    color: #000000;
    margin-top: 8px;
    box-sizing: border-box;

}

.footer-trial {
    width: 15%;
    padding: 22px 0px 22px 22px;
    margin-left: 16px;
    box-sizing: border-box;


}

footer i {
    color: rgb(15, 11, 11);
    box-sizing: border-box;

}

.footer-btn {
    background-color: #031b29;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 8px;
    box-sizing: border-box;

}

.footer-btn:hover {
    cursor: pointer;
    background-color: #43b0f1;
    box-sizing: border-box;

}

.copyrights {
    padding: 8px 16px 18px 64px;
    background-color: #152b3e;
    width: 100%;
    font-size: 12px;
    color: #828e98;
    font-weight: lighter;
    box-sizing: border-box;

}

.copyrights span {
    color: #43b0f1;
    box-sizing: border-box;

}


